# Flutter
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.idea/
.vs/
*.iml
*.ipr
*.iws
*.log
# macOS
.DS_Store
# Android
**/android/local.properties
**/android/app/google-services.json
# iOS
**/ios/Runner/GoogleService-Info.plist
# VS Code
.vscode/
